<launch>
    <rosparam command="load" file="$(find state_machine_seqreg)/parameters/global.yaml"/>
    <!-- <include file="$(find state_machine_seqreg)/launch/static_tf.launch" /> -->
    <rosparam command="load" file="$(find state_machine_seqreg)/parameters/shelf_layout.yaml"/>
    <node name="state_machine_seqreg" pkg="state_machine_seqreg" type="state_machine.py" output="screen" cwd="node"/>
</launch>
