<launch>
  <arg name="config" default="true"/>
  <arg name="load_description" default="true"/>
  <arg name="rviz_config" default="$(find baxter_moveit_config)/launch/moveit.rviz" />

  <arg name="pipeline" default="ompl"/>
  
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="$(arg load_description)"/>
  </include>


  <include file="$(find baxter_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
  </include>

  <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(arg config)" />
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>

</launch>
